 .App {
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(33, 69, 42);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* .cardBox {
  margin-left: -0.6vw;
  background-color: rgb(163, 137, 66);
  padding: 2.6vw;
  width: 94.5vw;
  border-radius: 3vh;
  display: grid;
  grid-template-columns: repeat(3, 29.5vw);
  grid-auto-rows: minmax(150px, auto);
  justify-content: center;
  gap: 4vh 2.5vw;
}

.cards {
  color:rgb(127, 186, 192);
  margin-left: -0.7vw;
  width: 30vw;
  height: 35vh;
  background-color: rgb(78, 57, 19);
  border: 0.4vh solid rgb(186, 194, 122);
  border-radius: 3vh;
}

.cardButton {
  background-color: rgb(168, 78, 26);
  color: rgb(247, 231, 231);
  height: 6vh;
  border-radius: 1.9vh;
  margin-top: 2vh;
  font-size: x-large;
  margin-right: 2vw;
} */

#headerSection {
  background-color: rgb(176, 171, 128);
  height: 15vh;
  padding: 1vw;
  border-radius: 3vh;
  margin-bottom: 30vh;
  width: 98vw;
  margin-left: -0.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navButtons {
  background-color: rgb(196, 159, 122);
  color: rgb(113, 65, 17);
  text-decoration: none;
  font-size: x-large;
  font-weight:bold;
  display: inline-block;
  padding: 6vh;
  border-radius: 1vw;
  border: 0.4vw solid rgb(113, 65, 17);
}

#title {
  background-color: rgb(122, 175, 196);
  border-radius: 3vh;
  border: 0.4vw solid rgb(113, 65, 17);
  color: rgb(157, 113, 70);
  padding: 6vh;
}

.formStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh;
  border-radius: 3vh;
  text-align: center;
  background-color: rgb(78, 57, 19);
  width: 50%;
  margin: auto;
} 

 .formInput {
  background-color: rgb(116, 155, 196);
  padding: 2vh;
  border-radius: 2vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
  font-size: larger;
} 

.image {
  height: 18vh;
  width: 18vh;
  padding: 1.5vh;
  float: left;
  border-radius: 3vh;
}




/* form on cards */

.catCardBox {
  background-color: rgb(163, 137, 66);
  padding: 2.6vw;
  width: 94.5vw;
  border-radius: 3vh;
  display: grid;
  grid-template-columns: repeat(2, 46.5vw);
  justify-content: center;
  gap: 5vh 2vw;
}

.catCards {
  color:rgb(127, 186, 192);
  margin-left: 0.8vw;
  width: 45vw;
  height: 60vh;
  background-color: rgb(78, 57, 19);
  border: 0.4vh solid rgb(186, 194, 122);
  border-radius: 3vh;
}

.cardButton {
  background-color: rgb(168, 78, 26);
  color: rgb(247, 231, 231);
  height: 6vh;
  border-radius: 1.9vh;
  margin-top: 2vh;
  font-size: x-large;
  margin-right: 2vw;
}

#cardForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(78, 57, 19);
  width: 80%;
  margin: auto;
}

.formInputCard {
  background-color: rgb(116, 155, 196);
  padding: 0.2vh;
  font-size: large;
}



 .shelterCardBox {
  margin-left: -0.6vw;
  background-color: rgb(163, 137, 66);
  padding: 2.6vw;
  width: 94.5vw;
  border-radius: 3vh;
  display: grid;
  grid-template-columns: repeat(3, 29.5vw);
  grid-auto-rows: minmax(150px, auto);
  justify-content: center;
  gap: 4vh 2.5vw;
}

.shelterCards {
  color:rgb(127, 186, 192);
  margin-left: -0.7vw;
  width: 30vw;
  height: 35vh;
  background-color: rgb(78, 57, 19);
  border: 0.4vh solid rgb(186, 194, 122);
  border-radius: 3vh;
}