.App {
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(33, 69, 42);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image {
  height: 18vh;
  width: 18vh;
  padding: 1.5vh;
  float: left;
  border-radius: 3vh;
}

.cardBox {
  margin-left: -0.6vw;
  background-color: rgb(163, 137, 66);
  padding: 2.6vw;
  width: 94.5vw;
  border-radius: 3vh;
  display: grid;
  grid-template-columns: repeat(3, 29.5vw);
  grid-auto-rows: minmax(150px, auto);
  justify-content: center;
  gap: 4vh 2.5vw;
}

.cards {
  color:rgb(127, 186, 192);
  margin-left: -0.7vw;
  width: 30vw;
  height: 35vh;
  background-color: rgb(78, 57, 19);
  border: 0.4vh solid rgb(186, 194, 122);
  border-radius: 3vh;
}

.cardButton {
  background-color: rgb(168, 78, 26);
  color: rgb(247, 231, 231);
  height: 6vh;
  border-radius: 1.9vh;
  margin-top: 2vh;
  font-size: x-large;
  margin-right: 2vw;
}

#headerSection {
  background-color: rgb(176, 171, 128);
  height: 15vh;
  padding: 1vw;
  border-radius: 3vh;
  margin-bottom: 30vh;
  width: 98vw;
  margin-left: -0.5vw;
}

.formStyle {
  display: flex;
  flex-direction: column;
  border-radius: 3vh;
  text-align: center;
  background-color: rgb(78, 57, 19);
  width: 50%;
  margin: auto;
}

input {
  background-color: rgb(116, 155, 196);
  padding: 2vh;
  border-radius: 2vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
  font-size: larger;
}